{% extends 'base.html' %}
{% block childpage %}
<style>
  @media screen and (max-width: 768px) {
    #contact-form {
      margin-top: 90px !important;
      padding: 20px;
    }
    .title {
      font-size: 28px;
    }
  }
</style>
<div class="row" id="contact">
    <div class="col-12 col-lg-12 mt-5" id="contact-form">
        <h1 class="mx-auto text-center title mb-2 pb-2 " style="font-size: 25px; font-weight: 500 !important;">
            Contact<span class="text-mycolor2"> US <i class="fa-solid fa-phone fa-spin"></i></span></h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" id="" class="form-control" placeholder="Enter your name" required>
            <input type="tel" name="mobile" id="" class="form-control" placeholder="Enter your mobile No."
                oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10" required>
            <input type="email" name="email" id="" class="form-control" placeholder="example@gmail.com" required>
            <input type="text" name="subject" id="" class="form-control" placeholder="Enter your subject" required>
            <textarea name="message" id="" placeholder="Enter your message"></textarea>
            <input type="checkbox" style="height: 20px; width: 25px;" /> <span> <sup
                    class="fs-3 text-danger mt-3">**</sup> </span>I agree that my submitted data is being collected and
            stored.
            <button class="form-control bg-mycolor2 fs-4 btn-box mt-2">Submit</button>
        </form>
    </div>
</div>


{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                title: 'Success!',
                text: '{{ message }}',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false
            });
        </script>
    {% endfor %}
{% endif %}


{% endblock %}
